#overview-wrapper {
  position: relative;
  top: 100px;
    max-width: 50%;
    margin: auto;
}
app-footer {
  position: absolute;
  bottom: 0;
  width: 100%
}

#addAcc {
  float: left;
  margin-top: -40px;
  background-color: rgb(101, 230, 252);
  color: black;
  border: none;
  height: 40px;
  width: 200px;
}

#addRes {
  float: left;
  margin-top: -40px;
  margin-left: 250px;
  padding-right: 30px;
  padding-left: 30px;
   background-color: rgb(101, 230, 252);
  color: black;
  border: none;
  height: 40px;
  width: 200px;
}