<div id="logindiv">
  <div id="logindiv-content">
    <h5>Sign in</h5>
    <hr id="bar">
    <div id="inputsLogin">
        <input input type="text" id="userNameLogIn" autocomplete="off" [(ngModel)]="uName" name="first" placeholder="Username"/><br/>
        <input input type="password" id="passwordLogIn" autocomplete="off" [(ngModel)]="uPassword" name="second" placeholder="Password"/><br/>
        <input id="checkbox" type="checkbox" onclick="showPassword('passwordLogIn')" autocomplete="off"/> Show Password
        <button id="loginbutton" (click)="logIn()">Sign in</button>
        <div id="logInFailureMessage"></div>
    </div>
  </div>
  <div id="successfullCreation">{{isValid}}</div>
</div>
