#wrapper {
     width: 100%;
     min-height: 100%;
     display: flex;
     flex-direction: column;
     background-image: url('../../../assets/Accommodation.png');
     background-repeat: no-repeat;
     background-size: 900px;
     background-position-y: 350px;
     background-position-x: 95%;
}
#overview-wrapper {
     margin-top: 150px;
     margin-left: 100px;
     width: 870px;
     margin-bottom: 50px;
}
app-footer {
    position: relative;
    width: 100%;
}

#accommodations {
    float: left;
    width: 500px;
}
#searchAccommodation {
    float: right;
    border-radius: 5px;
    width: 350px;
    height: 150px;
}
#accommodationName {
    width: 100%;
    height: 40px;
    float: left;
}
#addaccommodation {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    border-radius: 5px;
}
.collapse.show{
  padding: 20px;
}
#ColBut {
    background-color: rgb(101, 230, 252);
    color: black;
    width: 40px;
    height: 40px;
    float: right;
    border: none;
    margin-right: 10px;
    margin-top: -10px;
}

.list-group-item {
    margin-top: 10px;
    margin-right: 10px;
    height: 50px;
}

.card-header {
  color:  rgb(56, 62, 69);
  font-family: 'Lobster', cursive;
  background-color: rgb(101, 230, 252);
  font-size: 1.7em;
}

#addAcc {
    background-color: rgb(56, 62, 69);
    height: 40px;
    width: 200px;
}

#demo1, #demo2, #demo3 {
    padding: 10px;
}
.modal-content {
  width: 700px;
  margin-top: 100px;
}
.modal-header {
  background-color: rgb(56, 62, 69);
}
.modal-header h5{
  color: rgb(101, 230, 252);
  font-family: 'Lobster', cursive;
}
.form-control {
  height: 35px;
}
#static-model-items {
  float: left;
  width: 35%;
}
#input-model-items {
  float: right;
  width: 60%;
}
#yourComments {
  height: 200px;
}
.close {
  color: white  ;
}

#saveAcc {
    background-color: rgb(101, 230, 252);
    border-color: rgb(101, 230, 252);
}
#closeAcc {
    background-color: rgb(56, 62, 69);
    border-color: rgb(56, 62, 69);
}
.card-header {
  color:  rgb(56, 62, 69);
  font-family: 'Lobster', cursive;
  background-color: rgb(101, 230, 252);
  font-size: 1.7em;
}

