#wrapper {
    background-color: rgb(56, 62, 69);
    height: 60px;
    text-align: center;
    padding-top: 15px;
  }
  #wrapper h4 {
    font-family: 'Lobster', cursive;
    color: rgb(101, 230, 252);
  }