#registerdiv {
  position: relative;
  width: 350px;
  float: left;
  color: rgb(220,220,220);
}
h5 {
  color: rgb(220,220,220);
  text-align: center;
  font-weight: bold;
}
#inputsRegister {
  width: 80%;
  margin: auto;
}
#userNameRegister, #emailRegister, #passwordRegister {
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  color: rgb(35, 39, 43);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  box-shadow: -2px -2px 5px rgb(56, 62, 69) inset;
  transition: background-color 0.2s;
}
#userNameRegister, #emailRegister {
  margin-bottom: 15px;
}
#passwordRegister {
  margin-bottom: 5px;
}
#userNameRegister:hover, #passwordRegister:hover, #emailRegister:hover {
  background-color: rgba(255,255,255,0.8);
}
#userNameRegister:focus, #passwordRegister:focus, #emailRegister:focus {
  background-color: rgba(255,255,255,0.8);
  outline: none;
}
#userNameRegister::placeholder, #emailRegister::placeholder, #passwordRegister::placeholder {
  color: rgb(75, 83, 92);
}
#registerdiv-content {
  border-right: solid;
  border-color: rgba(255,255,255,0.10);
  border-width: 2px;
}
#bar {
  border: 0.5px solid rgb(101, 230, 252);
  width: 10%;
  border-radius: 5px;
  margin-bottom: 20px;
}
#successfullCreation {
  text-align: center;
  width: 80%;
  margin: auto;
  height: 50px;
  padding-top: 20px;
}
#registerbutton {
  background-color: rgba(101, 230, 252,0);
  border: solid;
  border-width: 1px;
  border-color: rgb(101, 230, 252);
  border-radius: 5px;
  margin-top: 25px;
  width: 100%;
  height: 45px;
  color: rgb(101, 230, 252);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
#registerbutton:hover {
  background-color: rgba(101, 230, 252,1);
  color: rgb(56, 62, 69);
}
#registerbutton:focus {
  outline:none;
}