<app-header></app-header>
<div id="wrapper">
  <div id="imageText">
    <h5>Welcome {{userName}}</h5>
    <div id="imageA">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac rutrum velit. Integer quis lectus nunc. Mauris pulvinar risus non accumsan venenatis. Aliquam id tincidunt urna, vehicula imperdiet nunc. Sed rutrum urna eu metus pretium, quis maximus justo varius. Sed facilisis sapien leo, quis pulvinar purus pharetra et. Pellentesque et ante sagittis, laoreet erat nec, volutpat arcu. Aliquam semper enim nec sollicitudin commodo. Fusce tristique odio arcu, at gravida orci ornare id. Aenean nulla turpis, lobortis ac rutrum ut, laoreet in diam. Suspendisse in elementum ex, ac consectetur sem. Aliquam erat volutpat.</div>
    <button id="aboutOnImage" type="button" onClick="document.getElementById('about').scrollIntoView();">About us</button>
  </div>
</div>

  <div id="homeBigButtons">
    <div class="BB" id="BB1" routerLink="/user">
      <div class="BBcontent">
        <img class="BBimg" src="../../../assets/map.png">
        <h5>Overview</h5>
        <p>Manage your adventures</p>
      </div>

    </div>
    <div class="BB" id="BB2">
      <div class="BBcontent">
        <img class="BBimg" src="../../../assets/friends.png">
        <h5>Friends</h5>
        <p>Connect with your friends</p>
      </div>
    </div>
    <div class="BB" id="BB3">
      <div class="BBcontent">
        <img class="BBimg" src="../../../assets/gears.png">
        <h5>Settings</h5>
        <p>Change your settings</p>
      </div>
    </div>
  </div>

  <div id="about">
    <h4>About My Travel History</h4>
    <hr id="bar">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at felis et nunc lobortis ornare posuere suscipit nisl. Duis sollicitudin metus sit amet purus vestibulum sagittis. Phasellus maximus fermentum placerat. Praesent sapien ex, blandit rhoncus auctor congue, aliquet eget nisi. Aliquam porta turpis et mauris finibus commodo. Ut malesuada ac mi non tincidunt. Duis hendrerit, neque in tempus ultricies, nibh purus semper metus, ut auctor lorem lorem ac lacus.
      <br>
      <br>
      Nunc feugiat felis accumsan erat accumsan luctus. Nulla placerat augue in nisi pharetra, ut commodo arcu hendrerit. Sed eget turpis dolor. Sed consectetur mollis nibh. Suspendisse bibendum viverra tellus, sit amet hendrerit augue suscipit et. Pellentesque nulla nisl, condimentum non sapien malesuada, dapibus elementum lacus. Nullam metus nisl, laoreet a tempor at, congue vitae felis. Nam vehicula iaculis tincidunt. Praesent sed nisl tortor. Integer sed ex tellus. Quisque sed tincidunt sapien, ac venenatis urna.
      <br>
      <br>
      Quisque faucibus consectetur lorem nec tristique. Proin aliquet egestas erat, elementum blandit ligula porta malesuada. Nulla vel auctor leo, sit amet lobortis ligula. Mauris aliquet fringilla massa et porta. In a augue sed ex tincidunt hendrerit. Sed quis massa non erat vestibulum blandit quis venenatis justo. Maecenas vel gravida eros. Nulla luctus convallis turpis, vitae pellentesque erat ornare id. Vivamus cursus purus vulputate felis aliquet fermentum vitae quis dolor. Pellentesque tincidunt metus pharetra urna vulputate vulputate. Aenean non massa justo. Vestibulum venenatis ullamcorper diam eget interdum. In nec imperdiet magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      <br>
      <br>
      Donec vitae ligula id dui suscipit bibendum posuere non eros. Vestibulum dignissim dolor quam, id efficitur quam convallis in. Aliquam semper dolor elit, sed auctor mauris ornare eget. Proin non lacus vehicula, faucibus ipsum id, varius enim. Proin eros tellus, vulputate vel ornare ac, tincidunt eget sapien. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tellus arcu, elementum vitae nibh id, interdum fringilla eros. In purus diam, tempus eget porttitor a, congue in leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas euismod feugiat est, in facilisis felis aliquam id. Nullam sit amet magna condimentum, aliquam sem a, dictum purus. Fusce nec interdum arcu. Fusce in arcu quis est fermentum euismod.</p>
  </div>
  <app-footer></app-footer>