#wrapper {
  background-color: rgb(56, 62, 69);
  height: 60px;
  width: 100%;
}
#inner-wrapper {
  display: inline;
}
#navtitle, .navtext {
  color: rgb(255,255,255);
}
#navtitle {
  font-family: 'Lobster', cursive;
  color: rgb(101, 230, 252);
  font-size: 1.7em;
  margin-right: 20px;
}
#navtitle:hover {
  text-decoration: none;
}
.nav-item {
  border-left: solid;
  border-width: 1px;
  border-color: rgba(255,255,255,0.10);
}
.nav-item a{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.nav-item a:hover{
  color: rgb(101, 230, 252);
}



