#wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/Restaurant.png');
  background-repeat: no-repeat;
  background-size: 900px;
  background-position-y: 200px;
  background-position-x: 90%;
}
#overview-wrapper {
  margin-top: 150px;
  margin-left: 100px;
  width: 1020px;
  margin-bottom: 50px;
}
app-footer {
 position: relative;
 width: 100%;
}
#restaurants {
 float: left;
 width: 500px;
}
#searchrestaurant {
 float: right;
 border-radius: 5px;
 width: 500px;
 height: 150px;
}
#searchRes {
 background-color: rgb(56, 62, 69);
 width: 120px;
 height: 40px;
 float: right;
}

#addrestaurant {
 margin: auto;
 margin-top: 50px;
 width: 50%;
 border-radius: 5px;
}

#ColBut {
 background-color: rgb(101, 230, 252);
 color: black;
 width: 40px;
 height: 40px;
 float: right;
 border: none;
 margin-right: 10px;
 margin-top: -10px;
 border-radius: 5px;
}

.list-group-item {
 margin-top: 10px;
 margin-right: 10px;
 height: 50px;
}

.card-header {
color:  rgb(56, 62, 69);
font-family: 'Lobster', cursive;
background-color: rgb(101, 230, 252);
font-size: 1.7em;
}

#addRes {
 background-color: rgb(56, 62, 69);
 height: 40px;
 width: 200px;
}

#demo1, #demo2, #demo3 {
 padding: 10px;
}
.collapse.show{
padding: 20px;
}
#restaurantName {
 width: 320px;
 height: 40px;
 float: left;
}
.modal-content {
width: 700px;
margin-top: 100px;
}
.modal-header {
background-color: rgb(56, 62, 69);
}
.modal-header h5{
color: rgb(101, 230, 252);
font-family: 'Lobster', cursive;
}
.form-control {
height: 35px;
}
#static-model-items {
float: left;
width: 35%;
}
#input-model-items {
float: right;
width: 60%;
}
#yourComments {
height: 200px;
}
.close {
color: white  ;
}

#saveRest {
 background-color: rgb(101, 230, 252);
 border-color: rgb(101, 230, 252);
}
#closeRest {
 background-color: rgb(56, 62, 69);
 border-color: rgb(56, 62, 69);
}


