<app-header></app-header>
<div id="wrapper">
  <div id="imageText">
    <h5>Welcome {{userName}}</h5>
    <div id="imageA">Save your adventures, write about your experiences and share them with your friends.<br>
      With My Travel History you can keep your friends and family completely up to date while you are out living life!
    </div>
    <button id="aboutOnImage" type="button" onClick="document.getElementById('about').scrollIntoView();">About us</button>
  </div>
</div>

  <div id="homeBigButtons">
    <div class="BB" id="BB1" routerLink="/user">
      <div class="BBcontent">
        <img class="BBimg" src="../../../assets/map.png">
        <h5>Overview</h5>
        <p>Manage your adventures</p>
      </div>

    </div>
    <div class="BB" id="BB2">
      <div class="BBcontent">
        <img class="BBimg" src="../../../assets/friends.png">
        <h5>Friends</h5>
        <p>Connect with your friends</p>
      </div>
    </div>
    <div class="BB" id="BB3">
      <div class="BBcontent">
        <img class="BBimg" src="../../../assets/gears.png">
        <h5>Settings</h5>
        <p>Change your settings</p>
      </div>
    </div>
  </div>

  <div id="about">
    <h4>About My Travel History</h4>
    <hr id="bar">
    <p> Do you recognize that situation in which your friends ask you for recommendations for places to eat in that Italian city you visited last summer? And you could not quite remember the name of the place...?
      <br>
      <br>
      MyTravelHistory will make sure you will never forget about your (least) favourite restaurants or accommodations stumbled upon during your travels. Make sure to log that amazing spot and share your experience with your friends.
      <br>
      <br>
      Safe travels and keep logging your visits! - MyTravelHistory Team
  </div>
  <app-footer></app-footer>

